.button {
  background: #0077ff;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: #0154b3;
}
